

.board {
  min-width: 700px;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;

  memory-card {
    width: 25%;
    // height: 150px;
    margin-bottom: 40px;
  }

}


