<div class="list">
  <a *ngFor="let item of data$|async" class="item"
    [routerLink]="['/play/', auth.id, item.id]">
    <span>
      <h2>{{ item.label }}</h2>
      <div
      [ngStyle]="{'background-image': 'url(' + item.image +')'}">
      </div>
    </span>
  </a>
  <!--<a class="item" [routerLink]="'/game/sequencing'">
    <span>
      <h2>Sequencing</h2>
      <div style="background-image:url('/assets/img/elefant.png');"></div>
    </span>
  </a>
  <a class="item" [routerLink]="'/game/relaciona'">
    <span>
      <h2>Relaciona</h2>
      <div style="background-image:url('/assets/img/gat.png');"></div>
    </span>
  </a>
  <a class="item" [routerLink]="'/game/mixed'">
    <span>
      <h2>Mixed</h2>
      <div style="background-image:url('/assets/img/porc.png');"></div>
    </span>
  </a>-->
</div>
