
<div class="row header">
  <div class="col-xs">
    <h3>Jocs</h3>
  </div>
  <div class="col-xs buttons">
    <button class="btn btn-success"
      [routerLink]="['add/']"><i class="fa fa-plus"></i> AFEGIR JOC</button>
  </div>
</div>


<div class="paraules-list row">
  <div class="col-xs activitats ticard hover"
    *ngFor="let obj of state.jocs"
    [routerLink]="[obj.id]"
    [ngStyle]="{'background-image': 'url(' + obj.image + ')'}"
    >
    <label>{{ obj.tipus }}</label>
    <!--<img [src]="obj.image" />-->
    <span>
      {{ obj.label }}
      <br/>

      <p *ngIf="obj.published" class="visible">Visible</p>
      <p *ngIf="!obj.published">Inactiu</p>
    </span>


  </div>
</div>


<div class="user-link" *ngIf="state.loadData=='ready'" >
  <h3 class="">Pots compartir els teus jocs a l'adreça:<br/>
  <a [routerLink]="['/usuari/', state.publicName]">
    https://tocu.io/usuari/{{ state.publicName }}</a>
    </h3>
</div>
