
<!-- @todo make components -->

<p>
  Points {{ points }} / {{ total }} <br/>
  Fails {{ fails }}
</p>


<div *ngIf="status=='preload'">
  <ti-dialog title="MEMORY"
  [showButton]="preloadReady"
  button=""
  (onClick)="startGame($event)">
  <div>
    <p *ngIf="preloadReady==false">
      Estem preparant el teu joc {{ lstep }}/{{ ltotal }}</p>
    <p *ngIf="preloadReady==true">
      Joc a punt!
    </p>
  </div>
</ti-dialog>
</div>

<div
  *ngIf="status=='playing'"
  [ngSwitch]="gameType"
>
  <memory-board
    *ngSwitchCase="'memory'"
    [cards]="cards"
    (onWin)="onWin($event)"
    (onFail)="onFail($event)"
  ></memory-board>
</div>


<div *ngIf="status=='end'">
  <ti-dialog title="MEMORY"
  [showButton]=true
  button=""
  (onClick)="newGame($event)">
  <div>
    <p>
      Felicitats has guanyat!!!!
    </p>
  </div>
</ti-dialog>
</div>
