@import '../../../styles_shared';

:host {
  display: block;
}

.word {
  margin-top: 30px;
  background: white;
  display: inline-block;
  min-width: 40%;
  padding: 40px 40px 60px 40px;
  @include box($gris);
  img {
    padding-bottom: 40px;
  }
  transition: width 0.3;
}

.boton-sound {
  @include position(absolute, 20px 20px auto auto);
  $size: 60px;
  display: block;
  width: $size;
  height: $size;
  border-radius: $size/2;
  background: $verd;
  box-shadow: 3px 3px 0px 0px $verd_fosc;
  svg {
    width: ($size/4)*2;
    height: ($size/4)*2;
    @include position(absolute, 50% auto auto 50%);
    transform: translate(-50%, -50%);
  }
}

.letters {
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.nextWord {
  $size: 80px;
  cursor: pointer;
  color: $blanc;
  font-size: 42px;
  line-height: $size;
  text-align: center;
  width: $size - 10px;
  padding-left: 10px;
  height: $size;
  border-radius: $size/2;
  background-color: $verd;
  box-shadow: 3px 3px 0px 0px $verd_fosc;
  @include position(absolute, auto auto 0 50%);
  transform: translate(-50%, 50%);
}
