

.paraules .tag-pill {

  padding: 5px 10px 5px 10px;
  margin-right: 10px;
  cursor: pointer;

}

.suggest {
  margin-top: 40px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
  box-shadow: #eaeaea 5px 5px 5px;
  border-radius: 5px;
  position:relative;

  .close {
    display: block;
    z-index: 100;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
}

span.link {
  cursor: pointer !important;
  color:#5bc0de !important;
  text-decoration:underline !important;
}

p {
  font-family: 'Open Sans';
}


.modal-body {
      min-height: 80vh;
    max-height: 80vh;
    overflow: hidden;
    overflow-y: scroll;
}

.toolbar {
  text-align: right;

}


.word {
  padding-top: 10px;
  text-align:center;
  position: relative;
  width: 20%;
  height: 150px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;

  img {
    top: 20px;
    width: 80%;
    max-height: 100px;
  }

  i {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }

}

.ppp {
  margin-bottom: 30px;
}


.btop {
  border-top: 1px solid #eaeaea;
}
