
<form name="form" class="form_creator"
   #jocForm="ngForm" *ngIf="ready">
<div class="row admin">
  <div class="col-xs">
    <label for="label">Nom del joc:</label>
    <input type="text"
      [(ngModel)]="joc.label"
      id="label"
      required
      name="label"
      placeholder="Introdueix el nom del joc"
      class="form-control"
      (change)="modified=true"
        />
  </div>
  <div class="col-xs">
    <label for="">Imatge/Icona:</label>
    <app-image-field
      (rawImage)="imageSelected($event)"
      [word]="joc.label"
      [src]="joc.image"
      ></app-image-field>
  </div>
</div>

<div class="row admin">
  <div class="col-xs">
    <label for="tipus">Tipus de joc:</label>
  </div>
  <div class="col-xs-10">
    <div class="form-check"  *ngFor="let tjoc of tipusJoc">
    <label class="form-check-label">
        <input type="radio"
          class="form-check-input"
          name="tipus" id="tipus_1"
          [(ngModel)]="joc.tipus"
          [value]="tjoc.key"
          (change)="modified=true"
          checked>
          <strong>{{ tjoc.label }}</strong><br/>
          {{ tjoc.desc }}
    </label>
    </div>
  </div>
</div>

<div class="row admin">
  <div class="col-xs">
    <label for="">Paraules:</label>
  </div>
  <div class="col-xs-6">
    <input type="text"
      class="form-control"
      name="paraules"
      [(ngModel)]="selectedWord"
      [ngbTypeahead]="searchWords"
      [resultFormatter]="wordFormater"
      (selectItem)="wordSelected($event)"
      placeholder="Selecciona les paraules"><br />

      <ngb-alert *ngIf="suggest!=''"
        type="success"
        (close)="suggest=''">No disposes de la paraula <strong>{{ suggest }}</strong> <a (click)="showSuggest=true">
          <span class="link">vols afegir-la?</span></a> </ngb-alert>

     <div class="paraules">
      <span class="tag tag-success tag-pill"
        *ngFor="let word of joc.words"
          (click)="removeWord(word)">{{ word.label }} &times;</span>
     </div>

     <div *ngIf="showSuggest" class="suggest">
        <span class="close" (click)="showSuggest=false">&times;</span>
        <app-add-paraula [paraula]="suggest" (onCreate)="createWord($event)"></app-add-paraula>
      </div>
  </div>
  <div class="col-xs-4">
    <button class="btn btn-default">PARAULES</button>
  </div>
</div>

<div class="row admin" *ngIf="jocID">
  <div class="col-xs">
    <label for="">Estat:</label>
  </div>
  <div class="col-xs-10">
    <div *ngIf="!joc.published">
      <ngb-alert *ngIf="validateMsg"
        type="danger"
        (close)="validateMsg=undefined">{{ validateMsg }}</ngb-alert>
      <p>El joc és inactiu. No visible a la pantalla de jocs dels alumnes</p>
      <button class="btn btn-info" (click)="publish()"><ti-preload *ngIf="loading"></ti-preload> PUBLICAR</button>
    </div>
    <div *ngIf="joc.published">
      <p>El joc es visible als alumnes</p>
      <button class="btn btn-info" (click)="unpublish()"><ti-preload *ngIf="loading"></ti-preload>  DESPUBLICAR</button>
    </div>

  </div>
</div>

<div class="row admin submit">
  <div class="col-xs text-xs-right">
    <button class="btn btn-warning"
      *ngIf="modified==false && jocID"
      [routerLink]="['/preview', uid, jocID]"
    >PREVISUALITZAR JOC</button>

    <button
      class="btn btn-success"
      [disabled]="(jocForm.form.valid==false) || (loading==true) || (modified==false)"
      (click)="save()"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
      <ti-preload *ngIf="loading"></ti-preload>  GUARDAR</button>
      <button class="btn btn-danger"
        *ngIf="jocID"
        (click)="delete()"><i class="fa fa-trash"></i></button>
      <!--
      {{ modified }} | {{ !jocForm.form.valid }} | {{ loading }}
      -->
  </div>
</div>
</form>
