<div class="controls">
  <timer [gamestatus]="status"></timer>
  <points [gamestatus]="status"
    [points]="points" [total]="total"></points>
  <ti-button
    *ngIf="status=='playing'"
    (click)="loc.back()"
    [type]="'icon size-m vermell'"
  >X</ti-button>
</div>

<ti-dialog
  *ngIf="status=='preload'"
  [title]="tipus"
>
  <div class="content">
    <div class="preload" *ngIf="preloadReady==false">
      <span [style.width.%]="((preload$|async)/total)*100"></span>
    </div>
    <p *ngIf="preloadReady==true">
      Joc a punt!
    </p>
  </div>
  <div class="buttons" *ngIf="preloadReady==true">
    <ti-button (click)="startGame($event)"
      [type]="'icon size-xl blau'">
      <i class="fa fa-play"></i>
    </ti-button>
  </div>
</ti-dialog>

<div
  *ngIf="status=='playing'"
  [ngSwitch]="gameType"
>
  <memory-board
    *ngSwitchCase="'memory'"
    [cards]="cards"
    (onWin)="onWin($event)"
    (onFail)="onFail($event)"
    (onFinish)="onFinish($event)"
  ></memory-board>
  <app-sequencing-board
    *ngSwitchCase="'sequencing'"
    [words]="cards"
    (onWin)="onWin($event)"
    (onFail)="onFail($event)"
    (onFinish)="onFinish($event)"
  ></app-sequencing-board>
  <app-relaciona-game
    *ngSwitchCase="'relaciona'"
    [words]="cards"
    (onWin)="onWin($event)"
    (onFail)="onFail($event)"
    (onFinish)="onFinish($event)"
  ></app-relaciona-game>
  <mixed-game
    *ngSwitchCase="'mixed'"
    [words]="cards"
    (onWin)="onWin($event)"
    (onFail)="onFail($event)"
    (onFinish)="onFinish($event)"
  ></mixed-game>
  <app-lletres-game
    *ngSwitchCase="'lletres'"
    [words]="cards"
    (onWin)="onWin($event)"
    (onFail)="onFail($event)"
    (onFinish)="onFinish($event)">
  </app-lletres-game>

</div>


<ti-dialog
  *ngIf="status=='end'"
  class="wins"
>
  <div class="title">
    <i class="fa fa-diamond"></i>
    <i class="fa fa-diamond"></i>
    <i class="fa fa-diamond"></i>
  </div>
  <div class="content">
    <p>
      HAS GUANYAT <span>{{ points }}</span> PUNTS.
    </p>
  </div>
  <div class="buttons">
    <ti-button (click)="startGame($event)"
      [type]="'icon size-xl blau'">
      <i class="fa fa-refresh"></i>
    </ti-button>
    <ti-button
      (click)="loc.back()"
      [type]="'icon size-xl blau'">
      <i class="fa fa-home"></i>
    </ti-button>
  </div>
</ti-dialog>
<app-globus *ngIf="status=='end'"></app-globus>
<!--<balloons
  *ngIf="status=='end'"
  [amount]="20"
  [delay]="3500"
></balloons>-->
