
.card-container {
  perspective: 1000px;
  background: #eaeaea;


}

.front, .back {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: 8px solid #fff;
  }

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  border: 8px solid #209999;
  background-color: #fff;
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(180deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(0deg);
  background-color: #ccc;
  background: #ccc url('./assets/img/card_back_star.png') no-repeat;
  background-position: center;
}

p {
  padding: 0px;
  margin: 0px;
  position: absolute;
  bottom: 5px;
  color: #000;
  text-transform: uppercase;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
}




