

<div class="modal-header">
  <button type="button" class="close"
    aria-label="Close" (click)="onClose('Cross click')">
      <span aria-hidden="true">&times;</span>
  </button>
  <h5 class="modal-title">Biblioteca d'Imatges</h5>
</div>

<div class="modal-body">
  <div class="row cap">
    <div class="col-xs">
      <span *ngIf="!loaded">Loading...</span>
    </div>
    <div class="col-xs form-inline text-xs-right">
      <input type="text"
        class="form-control form-control-sm"
        [(ngModel)]="searchWord"
        placeholder="Introdueix texte a cercar" />
        <button (click)="cercar()"
          class="btn btn-success btn-sm"
          >Cercar</button>
    </div>
  </div>

  <div class="resultset row">
    <div class="col-xs"
      *ngFor="let image of (results|async)"
      (click)="select(image)">
      <img [attr.src]="image.thumb"
        width="100" />
    </div>
  </div>
</div>
