

<div class="modal-header">
  <button type="button" class="close"
    aria-label="Close" (click)="onClose('Cross click')">
      <span aria-hidden="true">&times;</span>
  </button>
  <h5 class="modal-title">Biblioteca d'Imatges</h5>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-xs">
      Loading....
    </div>
    <div class="col-xs form-inline text-xs-right">
      <label for="">Cercant</label>
      <input type="text"
        class="form-control form-control-sm"
        [(ngModel)]="searchWord"
        placeholder="Introdueix texte a cercar" />
    </div>
  </div>

  <div class="resultset">

    <button (click)="select()">Click to select</button>
  </div>
</div>
