<div class="controls">
  <timer [gamestatus]="status"></timer>
  <points [gamestatus]="status"
    [points]="points" [total]="total"></points>
  <ti-button
    *ngIf="status=='playing' && !isPreview"
    [routerLink]="'/activitat'"
    [type]="'icon size-m vermell'"
  >X</ti-button>
  <ti-button
    *ngIf="status=='playing' && isPreview"
    [routerLink]="['/creator/jocs', gameID]"
    [type]="'icon size-m vermell'"
  >X</ti-button>


</div>

<ti-dialog
  *ngIf="status=='preload'"
  [title]="tipus"
>
  <div class="content">
    <div class="preload" *ngIf="preloadReady==false">
      <span [style.width.%]="((preload$|async)/total)*100"></span>
    </div>
    <p *ngIf="preloadReady==true">
      Joc a punt!
    </p>
  </div>
  <div class="buttons" *ngIf="preloadReady==true">
    <ti-button (click)="startGame($event)" [type]="'icon size-l blau'">
      <i class="fa fa-play"></i>
    </ti-button>
  </div>
</ti-dialog>

<div
  *ngIf="status=='playing'"
  [ngSwitch]="gameType"
>
  <memory-board
    *ngSwitchCase="'memory'"
    [cards]="cards"
    (onWin)="onWin($event)"
    (onFail)="onFail($event)"
    (onFinish)="onFinish($event)"
  ></memory-board>
  <sequencing-board
    *ngSwitchCase="'sequencing'"
    [words]="cards"
    (onWin)="onWin($event)"
    (onFail)="onFail($event)"
    (onFinish)="onFinish($event)"
  ></sequencing-board>
  <relaciona-game
    *ngSwitchCase="'relaciona'"
    [words]="cards"
    (onWin)="onWin($event)"
    (onFail)="onFail($event)"
    (onFinish)="onFinish($event)"
  ></relaciona-game>
  <mixed-game
    *ngSwitchCase="'mixed'"
    [words]="cards"
    (onWin)="onWin($event)"
    (onFail)="onFail($event)"
    (onFinish)="onFinish($event)"
  ></mixed-game>
</div>


<ti-dialog
  *ngIf="status=='end'"
  [title]="tipus"
>
  <div class="content">
    <p>
      Felicitats has guanyat!!!!
    </p>
  </div>
  <div class="buttons">
    <ti-button (click)="startGame($event)" [type]="'icon size-l blau'">
      <i class="fa fa-refresh"></i>
    </ti-button>
    <ti-button [routerLink]="'/activitat'" [type]="'icon size-l blau'">
      <i class="fa fa-home"></i>
    </ti-button>
  </div>
</ti-dialog>
<balloons
  *ngIf="status=='end'"
  [amount]="40"
  [delay]="3500"
></balloons>
