@import '../../../styles_shared';

:host {
}
.controls {
  text-align: right;
  padding-right: 20px;
  position: relative;
  z-index: 900;
  padding-bottom: 20px;
  ti-button {
    vertical-align: top;
    margin-top: 20px;
  }
}

.preload {
  height: 10px;
  width:100%;
  overflow: hidden;
  border: 1px solid $blau;
  @include box_small($blau_fosc);
  span {
    display: block;
    height: 10px;
    background: $blau;
    width: 0;
    transition: width, 0.3s;
  }
}


