

<div class="row">
  <div class="col-xs">
    <label>Paraula:</label>
    <input type="text" [(ngModel)]="paraula"
      placeholder="Introdueix la paraula"
      class="form-control"
        />
  </div>
  <div class="col-xs">
    <label for="">Imatge:</label>
    <image-field
      (rawImage)="imageSelected($event)"
      [word]="paraula"
      ></image-field>
  </div>
</div>
<div class="row submit">
  <div class="col-xs">
    <button
      class="btn btn-success"
      [disabled]="!(paraula.length>1 && image)"
      (click)="save()">GUARDAR</button>
  </div>
</div>
