<template #content let-c="close" let-m="this">
  <app-clipart-popup [close]="c"
    (onSelect)="selectFromLibrary($event)"
    [searchWord]="word"></app-clipart-popup>
</template>

<div class="row">
  <div class="col-xs">
    <input
      class="form-control"
      type="file"
      (change)="selectFile($event)" >

    <button
      class="btn btn-info btn-sm"
      (click)="openLibrary(content)"
      style="margin-top:15px;">
      BIBLIOTECA D'IMATGES</button>
  </div>
  <div class="col-xs drop">
    <ti-preload
      *ngIf="loadingImage"
      style="color:#000"></ti-preload>
    <img [src]="src"
      style="width:60%;"
      [hidden]="!src || loadingImage" />
     <p *ngIf="!src && !loadingImage">Puja una imatge del teu ordinador
       o fes servir la biblioteca per emprar imatges lliures</p>

  </div>
</div>
