

p {
  font-family: 'Open Sans';
  text-align:center;
  background-color: #eaeaea;
  border-radius: 5px;
  padding: 20px;
  font-size: 11px;
  line-height:15px;
}


app-add-paraula {
  margin: -20px;
}
