

<div class="header">
  <img src="/assets/img/tocu_inici.svg" width="240" />
  <p>
    <strong>Tocu</strong> és una aplicació on-line perquè
    els petits de la casa puguin jugar i aprendre.
  </p>

</div>


<div class="ti-dialog">

  <div class="content">
    <p>Per accedir t'has de registrar fent servir la teva
  compte de Google:</p>

  <button
    class="google btn btn-success"
    (click)="signInWithCoogle()">
      <i class="fa fa-google-plus"></i>
      Accedir/Registrar
    </button>

  </div>

</div>
