

:host {
  display: block;
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}


.content {

  background-color: #fff;
  width: 100%;
  min-height: 200px;
  border-radius: 10px;
  box-shadow: 5px 5px 0px 0px #b0b0b0;


}


.title {

  display: inline-block;
  padding: 10px;
  background-color: #8ed6dd;
  color: #fff;


}
