$blanc: #fff;
$groc: #fdfbee;
$groc_fosc: #ffffb7;
$marro: #f1bc0f;
$marro_fosc: #c1960b;
$verd: #73d4c5;
$verd_fosc: #237367;
$blau_light: #daf0f3;
$blau: #8ed6dd;
$blau_fosc: #3a6079;
$gris: #b0b0b0;
$gris_clar: #ccc;
$gris_fosc: #424242;
$ocre: #ffffb7;
$ocre_fosc: #afaf00;
$vermell: #f80707;
$vermell_fosc: #b80505;

$tablet: 768px;
$desktop: 992px;

@mixin box($color) {
  border-radius: 10px;
  box-shadow: 5px 5px 0px 0px $color;
}

@mixin box_small($color) {
  border-radius: 8px;
  box-shadow: 3px 3px 0px 0px $color;
}

@mixin box_small_active($color) {
  border-radius: 8px;
  box-shadow: 1px 1px 0px 0px $color;
}

/*Bourbon _unpack*/
@function unpack($shorthand) {
  @if length($shorthand) == 1 {
    @return nth($shorthand, 1) nth($shorthand, 1) nth($shorthand, 1) nth($shorthand, 1);
  } @else if length($shorthand) == 2 {
    @return nth($shorthand, 1) nth($shorthand, 2) nth($shorthand, 1) nth($shorthand, 2);
  } @else if length($shorthand) == 3 {
    @return nth($shorthand, 1) nth($shorthand, 2) nth($shorthand, 3) nth($shorthand, 2);
  } @else {
    @return $shorthand;
  }
}

/*Bourbon _position*/
@mixin position($position: relative, $coordinates: null null null null) {
  @if type-of($position) == list {
    $coordinates: $position;
    $position: relative;
  }

  $coordinates: unpack($coordinates);

  $offsets: (
    top:    nth($coordinates, 1),
    right:  nth($coordinates, 2),
    bottom: nth($coordinates, 3),
    left:   nth($coordinates, 4)
  );

  position: $position;

  @each $offset, $value in $offsets {
    @if is-length($value) {
      #{$offset}: $value;
    }
  }
}

$mobile: 767px;
$tablet: 991px;

@mixin media($size) {
  @media (max-width: #{$size}) {
    @content;
  }
}

@mixin max-media($size, $min-size:0) {
  @media screen and (max-width: #{$size - 1}) and (min-width: #{$min-size}) {
    @content;
  }
}

