

<div class="row admin">
  <div class="col-xs">
    <label>Paraula:</label>
    <input type="text" [(ngModel)]="paraula"
      placeholder="Introdueix la paraula"
      class="form-control"
        />
  </div>
  <div class="col-xs">
    <label for="">Imatge:</label>
    <app-image-field
      (rawImage)="imageSelected($event)"
      [word]="paraula"
      ></app-image-field>
  </div>
</div>
<div class="row admin submit">
  <div class="col-xs">
    <button
      class="btn btn-success"
      [disabled]="!(paraula.length>1 && image) || (loading==true)"
      (click)="save()"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
      <ti-preload *ngIf="loading"></ti-preload>  GUARDAR</button>
  </div>
</div>
