
<div class="header">
  <img src="/assets/img/tocu.svg" width="200" />

  <a [routerLink]="['/creator/jocs']">
    <i class="fa fa-bars"></i>
  </a>
</div>

<app-dash-messages
  *ngIf="dashboard.loadData == 'ready'"
  [messages]="dashboard.messages"
  (deleteMessage)="deleteMsg.next($event)">
</app-dash-messages>


<app-dash-welcome
  *ngIf="!dashboard.setup && dashboard.setupTask == 'ready'"
  [user]="user"
  [state]="dashboard"
  (subscribe)="dashClick.next()"></app-dash-welcome>

<div class="list" *ngIf="dashboard.loadData=='ready'">
  <a *ngFor="let item of dashboard.jocs" class="item"
    [routerLink]="['/play/', user.id, item.id]">
    <span>
      <h2>{{ item.label }}</h2>
      <div
      [ngStyle]="{'background-image': 'url(' + item.image +')'}">
      </div>
    </span>
  </a>
</div>


<div class="user-link" *ngIf="dashboard.loadData=='ready'" >
  <h3 class="">Pots compartir els teus jocs a l'adreça:<br/>
  <a [routerLink]="['/usuari/', dashboard.publicName]">
    https://tocu.io/usuari/{{ dashboard.publicName }}</a>
    </h3>
</div>
