
<div *ngIf="enabled==true">
<svg #svgs
    *ngFor="let p of props"
    [ngStyle]="setStyles(p)"
    >
    <g
     inkscape:label="Capa 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(-119.32768,-419.93102)">
    <path
       inkscape:transform-center-y="-0.99235625"
       inkscape:transform-center-x="0.68906224"
       d="m 145.938,447.32757 -9.92311,-3.68424 -8.66055,6.08577 0.43751,-10.57593 -8.46417,-6.35607 10.1935,-2.85204 3.42941,-10.01404 5.86242,8.81327 10.58366,0.16705 -6.57033,8.29895 z"
       inkscape:randomized="0"
       inkscape:rounded="0"
       inkscape:flatsided="false"
       sodipodi:arg2="1.4422804"
       sodipodi:arg1="0.81396182"
       sodipodi:r2="7.9698286"
       sodipodi:r1="15.939657"
       sodipodi:cy="435.73923"
       sodipodi:cx="134.99345"
       sodipodi:sides="5"
       id="path4393-3-4"
       [ngStyle]="setStyles()"
       sodipodi:type="star" />
  </g>
  </svg>
</div>
