
<app-card [word]="word"
  *ngIf="state.status == 'show_word'"
  (onClick)="action('playLetter')">
</app-card>

<ti-canvasexplosion
  *ngIf="state.status == 'win_word'"></ti-canvasexplosion>
<app-card [word]="word"
  class="cardend"
  completed="true"
  *ngIf="state.status == 'win_word'"
(onClick)="action('winWord')"></app-card>


<app-lletres *ngIf="state.status == 'lletra_play'"
  [lletraA]="state.char"
  [character]="state.character"
  (win)="action('lletraWin')"
  (onPoint)="action('onPoint')"></app-lletres>


<app-wordprogress
  *ngIf="wordprogress"
  [word]="state.word" [index]="state.currentLetter+1">
</app-wordprogress>
