@import '../../../styles_shared';

:host {
  display: block;
}

.word {
  margin-top: 30px;
  background: white;
  display: inline-block;
  min-width: 60%;
  padding: 40px 40px 60px 40px;
  @include box($gris);
  img {
    padding-bottom: 40px;
    max-height: 200px;
  }
  .bt-sound {
    @include position(absolute, 20px 20px auto auto);
  }
  .bt-nextWord {
    @include position(absolute, auto auto 0 50%);
    transform: translate(-50%, 50%);
  }
}

.letters {
  padding-top: 80px;
  display: flex;
  justify-content: center;
}
