<template #content let-c="close" let-m="this">
  <app-profilelogin
    [close]="c"
    (result)="validLogin()"></app-profilelogin>
</template>

<div class="header">
  <img src="/assets/img/tocu.svg" width="200" />

  <div class="right">
  <a (click)="open(content)"
     *ngIf="dashboard && !dashboard.isAdmin">
    <i class="fa fa-bars"></i>
  </a>
  <a (click)="changeUser.next(true)"
     *ngIf="dashboard && dashboard.isAdmin">
    <i class="fa fa-bars"></i>
  </a>
  <a (click)="logout.next(true)">
    <i class="fa fa-sign-out"></i>
  </a>
 </div>
</div>



<app-dash-messages
  *ngIf="dashboard && dashboard.loadData == 'ready'"
  [messages]="dashboard.messages"
  (deleteMessage)="deleteMsg.next($event)">
</app-dash-messages>


<div *ngIf="dashboard">

<app-dash-welcome
  *ngIf="!dashboard.setup && dashboard.setupTask == 'ready'"
  [user]="user"
  [state]="dashboard"
  (subscribe)="dashClick.next()"></app-dash-welcome>

<div class="list" *ngIf="dashboard.loadData=='ready'">
  <div *ngFor="let item of getJocs(); let i = index;"
    class="item"
    [appStaggered]="(i*100)"
    [ngClass]="{'disabled': !item.published}"
    [routerLink]="['/play/', user.id, item.id]">
    <span>
      <h2>{{ item.label }}</h2>
      <div
      [ngStyle]="{'background-image': 'url(' + item.image +')'}">
      </div>
    </span>
<!--(click)="navigate(['/creator/jocs/', item.id]);"-->
    <ul class="toolbar" *ngIf="dashboard.isAdmin">
      <li><i class="fa fa-pencil"
        placement="top"
        ngbTooltip="Editar"
        [routerLink]="['/creator/jocs/', item.id]"
        ></i></li>
    </ul>
  </div>

  <div class="item add"
    [routerLink]="['/creator/jocs/add']"
    *ngIf="dashboard.isAdmin">
    <span>
      <h2>Afegir Nou Joc</h2>
    </span>
    <div>
      <i class="fa fa-plus"> </i>
    </div>
  </div>


</div>


<div class="user-link" *ngIf="dashboard.loadData=='ready'" >
  <h3 class="">Pots compartir els teus jocs a l'adreça:<br/>
  <a [routerLink]="['/usuari/', dashboard.publicName]">
    https://tocu.io/usuari/{{ dashboard.publicName }}</a>
    </h3>
</div>


</div>
