:host {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 40px;
}

.columna {
  display: flex;
  align-items: center;
  width: 100%;

  &.images {

    width: 100%;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    relaciona-word {
      width: calc(25% - 10px);
      margin: 10px;
      flex: 0 1 auto;
      align-self: auto;
    }
  }


  &.text {
    margin-top: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    text-justify: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    // width: calc(48% - 20px);
    relaciona-word {
      // width: 100%;
      margin: 0 10px 0 10px;
    }
  }
}


relaciona-word {
  opacity: 0;
  transform: translate3d(0,20%,0);
  transition: all 0.5s ease-in;

  &.tmpoIn {
    opacity: 1;
    transform: translate3d(0,0,0);
  }

}
