<div class="columna images">
  <relaciona-word
    *ngFor="let word of mixedImages; let i=index;"
    [appStaggered]="i*200"
    [type]="'image'"
    [word]="word"
    [status]="statusImages[word.id]"
    (click)="clickItem(word.id, 'image')"
  ></relaciona-word>
</div>
<div class="columna text">
  <relaciona-word
    [appStaggered]="50 + (i*200)"
    *ngFor="let word of mixedTexts; let i=index;"
    [type]="'text'"
    [word]="word"
    [status]="statusTexts[word.id]"
    (click)="clickItem(word.id, 'text')"
  ></relaciona-word>
</div>
