@import '../../../styles_shared';

nav {
  padding: 20px;

  font-family: 'Open Sans', sans-serif;
  color: $gris_fosc;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  // padding: 20px;
}

h1, h2, h3, li, p, a {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  width: 20%;
  margin: 10px 0 10px 0;
  text-align: left;
  padding-left: 25px
}

ul {
  width: 60%;
  display: flex;
  margin-bottom: 0px;
  padding-left: 30px;
}

ul li {
  list-style: none;
  padding-right: 30px;
}

ul.right {
  width: 30%;
  justify-content: flex-end;
  a {
    font-size: 24px;
    background-color: $blanc;
  }
}


a {
  border-radius: 5px;
  color: $gris_fosc;
  background-color: $blau;
  padding: 5px;
}

a.active {
  background-color: $ocre_fosc;
  color: #fff;
}
