

$blanc: #fff;
$groc: #fdfbee;
$groc_fosc: #ffffb7;
$marro: #f1bc0f;
$marro_fosc: #c1960b;
$verd: #73d4c5;
$verd_fosc: #237367;
$blau: #8ed6dd;
$blau_fosc: #3a6079;
$gris: #b0b0b0;
$gris_clar: #ccc;
$gris_fosc: #424242;
$ocre: #ffffb7;
$ocre_fosc: #afaf00;
$vermell: #f80707;
$vermell_fosc: #b80505;



@mixin box($color) {
  border-radius: 10px;
  box-shadow: 5px 5px 0px 0px $color;
}

@mixin box_small($color) {
  border-radius: 8px;
  box-shadow: 3px 3px 0px 0px $color;
}

@mixin box_small_active($color) {
  border-radius: 8px;
  box-shadow: 1px 1px 0px 0px $color;
}
