app-card {

  position: relative;
  margin-top: 30px;
  background: white;
  display: inline-block;
  min-width: 40%;

  padding: 40px 40px 60px 40px;

  @include box($gris);

  img {
    padding-bottom: 80px;
    max-height:200px;
  }
  .bt-sound {
    @include position(absolute, 20px 20px auto auto);
  }
  .bt-nextWord {
    @include position(absolute, auto auto 0 50%);
    transform: translate(-50%, 50%);
  }

  h2 {
    display: block;
    position: absolute;
    bottom: 60px;
    text-align: center;
    width: 80%;
  }

  .completed {
    display: block;
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 10px solid $verd_fosc;
    color: $verd_fosc;
    top: -35px;
    left: 50%;
    background-color: #fff;
    transform: translateX(-50%) scale(1.5, 1.5);

    i {
      font-size: 46px;
    }

  }

}
