:host {
  font-family: 'Open Sans';
}

p {
  font-family: 'Open Sans';
  margin-bottom: 0px;
}

.cap {

  margin-bottom: 20px;

}

.preload {
  color: #000;
}

button {
  ti-preload {
    margin-left: 5px;
  }
}

input {
  font-size: 14px;
  // width: 150px;
  line-height: 14px;
}

.resultset {

  margin: 10px;

  min-height: 60vh;
  max-height: 60vh;
  overflow: hidden;
  overflow-y: scroll;

  div {
    margin: 10px;
    background-color: #eaeaea;
    border: 2px solid #eaeaea;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    height: 175px;
    &:hover {
      border-color: #666;
    }
  }

}
