

<div class="row header">
  <div class="col-xs">
    <h3>Paraules</h3>
  </div>
  <div class="col-xs buttons">
    <button class="btn btn-success" (click)="addParaula=!addParaula"><i class="fa fa-plus"></i> AFEGIR PARAULA</button>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <input type="text"
      [formControl]="term"
      placeholder="Introdueix la cerca"
      class="form-control" />
  </div>
  <div class="col-xs-4">
    <p>Tens {{ total }} paraules. </p>
  </div>
  <div class="col-xs-4 text-xs-right ptop">
    <ngb-pagination
    *ngIf="!term.value"
    [collectionSize]="total"
    [page]="current"
    pageSize="10"
    (pageChange)="changePage($event)"
    [directionLinks]="false"></ngb-pagination>
  </div>
</div>


<div class="row">
  <add-paraula *ngIf="addParaula"></add-paraula>
</div>

<div class="paraules-list row">
  <div
    class="col-xs-2 paraula"
    *ngFor="let paraula of per$|async; trackBy:trackby" [@in]="'in'">
    <img [src]="paraula.image" />
    <span>{{ paraula.label }}</span>
    <ti-audioplayer [src]="paraula.audio"></ti-audioplayer>
  </div>
</div>

